.details-box {
    box-sizing: border-box;
    position: relative;
    display: block;
    top: 90px;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    width: 1500px;
    height: 1100px;
    background: rgba(197, 189, 189, 0.8);
    box-shadow: 0 15px 25px rgba(0, 0, 0, .5);
    border-radius: 10px;

}

.brand {
    text-align: center;
    padding: 20px;
    font-family: sans-serif;
    font-size: 35px;
}

.car-info {
    padding-top: 20px;
    position: relative;
    padding-left: 120px;
    display: flex;
    flex-direction: column;
    line-height: 0.70cm;
}

.car-info-title {
    font-family: sans-serif;
    font-size: 22px;
    display: flex;
    padding-bottom: 10px;
}

.extras {
    font-family: sans-serif;
    font-size: 22px;
    padding-left: 120px;
    padding-top: 20px;
}

.extras p {
    width: 500px;
    font-size: 17px;
    font-family: sans-serif;
    text-indent: 15px;
    line-height: 0.7cm;
    padding-top: 10px;
}

.description {
    padding-top: 20px;
    font-family: sans-serif;
    font-size: 22px;
    padding-left: 120px;
}

.description p {
    padding-top: 10px;
    width: 900px;
    font-size: 17px;
    font-family: sans-serif;
    text-indent: 15px;
    line-height: 0.7cm;
}

.seller-info {
    padding-top: 20px;
    font-family: sans-serif;
    font-size: 22px;
    padding-left: 120px;
}

.seller-info p {
    padding-top: 10px;
    font-size: 17px;
    font-family: sans-serif;
    line-height: 0.5cm;
}

.info img {
    display: block;
    width: 520px;
    height: 325px;
    position: fixed;
    bottom: 680px;
    left: 740px;
    border-radius: 8px;
}

.social-btn button {
    background: transparent;
    border: none;
    outline: none;
    color: #fff;
    background: rgba(0, 136, 169, 1);
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

.like button {
    background: transparent;
    border: none;
    outline: none;
    color: #fff;
    background: rgb(11, 121, 16);
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

.dislike button {
    background: transparent;
    border: none;
    outline: none;
    color: #fff;
    background: rgb(221, 11, 11);
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

.social-btn p {
    font-weight: bold;
}

.social-btn {
    margin-top: 10px;
    text-align: center;
    position: relative;
}

.social-btn div {
    margin-top: 10px;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 15px;
}

.likeCount {
    color: rgb(11, 121, 16);
}

.dislikeCount {
    color: rgb(221, 11, 11);
}

.disabledLike button {
    background: transparent;
    border: none;
    outline: none;
    color: #fff;
    background: rgb(73, 133, 76);
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

.disabledDislike button {
    background: transparent;
    border: none;
    outline: none;
    color: #fff;
    background: rgb(232, 100, 100);
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}