body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: url(./img/1033655.jpg) no-repeat center 0px;
    background-size: cover;



    background-position: center 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;

}

* {

    margin: 0;

    padding: 0;

    font-family: sans-serif;

    box-sizing: border-box;

}




.search-box {

    width: 500px;

    height: 50px;

    background-color: #fff;

    border-radius: 30px;

    display: flex;

    align-items: center;

    padding: 30px;

    position: relative;


    text-align: center;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    top: -50px;
    left: 50%;

}

.search-box>i {

    font-size: 20px;

    color: black;
    position: relative;
    left: -10px;
    cursor: pointer;
}

.search-box>input {

    flex: 1;

    height: 40px;

    border: none;

    outline: none;

    font-size: 18px;

    padding-left: 10px;


}

.destination-catalog {
    position: relative;

    text-align: center;

    top: -30px;

    font-family: sans-serif;

    font-size: 30px;
    color: #fff;
}

.text-box {
    color: #ffffff;
    padding: 90px;
    position: relative;
    top: 70px;
}


.main-card {
    position: absolute;
    margin: 2%;
    text-align: center;
    top: 250px;
}

.card {
    width: 22%;
    display: inline-block;
    box-shadow: 2px 2px 20px black;
    box-sizing: border-box;
    border-radius: 15px;
    margin: 2%;
    background-color: #ffff;
}

.image img {
    width: 100%;
    box-sizing: border-box;
    height: 250px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.title {

    text-align: center;
    padding: 10px;

}

h1 {
    font-size: 25px;
}

.des {
    padding: 5px;
    text-align: center;

    padding-top: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

.des p {
    padding: 5px;
    font-size: 16px;
}

.last-offers {
    font-family: sans-serif;
    font-size: 40px;
    color: #ffff;
}

.days {
    position: relative;
    top: 40px;
    left: -145px;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 0.2rem 0.8rem;
    border-radius: 2rem;
    display: inline-block;
    margin-right: 0.5rem;
    font-size: 15px;
}

.price {
    position: relative;
    top: 40px;
    left: -150px;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 0.2rem 0.8rem;
    border-radius: 2rem;
    display: inline-block;
    margin-right: 0.5rem;
    font-size: 15px;
}