

.create-box {
    position: absolute;
    top: 660px;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    padding: 40px;
    background: rgba(0, 0, 0, .8);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0, 0, 0, .5);
    border-radius: 10px;

}

.create-box h2 {
    margin: 0 0 30px;
    padding: 0;
    text-align: center;
    color: #fff;
}

.create-box .create-field {
    position: relative;
}

.create-box .create-field input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
}

.create-box .create-field label {
    position: absolute;
    top: 0;
    left: 0;
    letter-spacing: 1px;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
}

.create-box .create-field input:focus~label,
.create-box .create-field input:valid~label {
    top: -23px;
    left: 0;
    color: #ffff;
    font-size: 13px;
}

.create-box button {
    background: transparent;
    border: none;
    outline: none;
    color: #fff;
    background: rgba(0, 136, 169, 1);
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 50px;
    position: relative;
    left: 40%;

}

.sing-in p {
    color: #fff;
    text-align: right;
    padding: 0;

}

.sing-in a {
    color: #03a9f4;
}


.create-box .create-field select {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #ffff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
}

.create-box .create-field .category-label {
    top: -23px;
    left: 0;
    color: #ffff;
    font-size: 13px;

}

.create-box .create-field .category option {
    left: 0;
    color: #ffff;
    font-size: 16px;
    background: rgba(0, 0, 0, 0.8);
    box-shadow: 0 15px 25px rgb(0 0 0 / 50%);
}



/*  */

.create-box .create-field .fuel-label {
    top: -23px;
    left: 0;
    color: #ffff;
    font-size: 13px;

}

.create-box .create-field .fuel option {
    left: 0;
    color: #ffff;
    font-size: 16px;
    background: rgba(0, 0, 0, 0.8);
    box-shadow: 0 15px 25px rgb(0 0 0 / 50%);
}


.create-box .create-field .gearbox-label {
    top: -23px;
    left: 0;
    color: #ffff;
    font-size: 13px;

}

.create-box .create-field .gearbox option {
    left: 0;
    color: #ffff;
    font-size: 16px;
    background: rgba(0, 0, 0, 0.8);
    box-shadow: 0 15px 25px rgb(0 0 0 / 50%);
}
